@tailwind base;
@tailwind components;
@tailwind utilities;

animation {
    slidein300: "slidein 1s ease 300ms forwards";
    slidein500: "slidein 1s ease 500ms forwards";
    slidein700: "slidein 1s ease 700ms forwards";
  }